<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Users</title>
</head>
<body>
  <h1>Users</h1>
  <img src="../public/assets/da-lat.jpg" width="200px" />

  <form action="users" method="post">
    <div>
      first name: <input type="text" name="first_name">
    </div>
    <div>
      last name: <input type="text" name="last_name">
    </div>
    <button>Submit</button>
  </form>
</body>
</html>