body {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  background-color: antiquewhite;
}

h1 {
  color: darkorange;
}

h2::first-letter {
  font-size: 2.5em;
}

h2 {
  color: coral;
}

.main {
  text-align: center;
}

.name {
  font-style: italic;
}

.hobby {
  font-family: cursive;
}

.movie-link {
  color: deeppink;
}

a.movie-link::before {
  content: '(';
  color: black;
}

a.movie-link::after {
  content: ')';
  color: black;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.genres-label {
  font-style: italic;
  color: cadetblue;
}

.description-label {
  font-style: italic;
  color: cadetblue;
}

.mood-label::after {
  content: ": ";
}

.mood-image {
  height: 300px;
}

.friend {
  font-family: 'Courier New', Courier, monospace;
  font-weight: 700;
}

ul>li {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-style: oblique;
}

/* Revert order list */
ol.movies {
  display: flex;
  flex-direction: column-reverse;
}

footer {
  display: flex;
  justify-content: center;
}